@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}


body {
  font-family: Inter, system-ui, sans-serif;
  position: relative;
}
